/* Text font */
body {
    font-family: 'Lato', sans-serif;
    border:20px solid #bdc3c7;
    border-radius: 12px;
    margin: 100px;
    padding: 10px;
}
h2 {
    font-weight: bold;
    letter-spacing: 3.2px;
    font-size: 48px;
    color: #3d3d3d;

}

#dates {
color: #3498db;
text-align: right;
}
 
.paragraph {
    border-bottom: 5px solid #BDC3C7;
    text-align: end;
    margin: auto;
}

.paraone {
    border-bottom: 10px solid #BDC3C7;
    text-align: right;
}
.paratwo {
    text-align: right;
}
